/* florestas.css */

.cabecalho, .rodape, .botao-enviar {
    background-color: #1A543B; /* Verde-floresta escuro */
}

.menu-principal a:hover,
.botao-enviar:hover {
    background-color: #40926C; /* Verde mais claro para o hover */
}

.titulo-post,
.ler-mais,
.redes-sociais h3,
.social-link {
    color: #1A543B;
}

.ler-mais:hover,
.social-link:hover {
    color: #40926C;
}