/* rios.css */

.cabecalho, .rodape, .botao-enviar {
    background-color: #0F5E5C; /* Verde-água escuro */
}

.menu-principal a:hover,
.botao-enviar:hover {
    background-color: #43A2A0; /* Verde-água claro para o hover */
}

.titulo-post,
.ler-mais,
.redes-sociais h3,
.social-link {
    color: #0F5E5C;
}

.ler-mais:hover,
.social-link:hover {
    color: #43A2A0;
}